@use "abstract/mixin" as m;
@use "abstract/variable" as v;
.wellcome {
  text-align: center;
  &__title {
    @include m.headingCursive;
  }
  &__text {
    font-size: 2.6rem;
    color: v.$grey;
    max-width: 50rem;
    margin: 4rem auto 0 auto;
    line-height: 1.8;
  }
}
