//
// / variable
//

// font variable

$font-primary: "Lato", sans-serif;
$font-secondary: "Italianno", sans-serif;

// media queries
//  smartphones
$sm: 480px;

//  tablets
$md: 768px;

// desktops
$lg: 1024px;
// desktops
$xl: 1200px;
// Color
$primary: #8ed3cc;
$secondary: #e082a8;

$black: #000000;
$white: #ffffff;
$grey: #979797;
$light-grey: #f8f8f8;
